.changingStatus {
  background-color: #fff;
  min-width: 100px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__list {
    list-style-type: none;
  }

  &__list li {
    padding: 2px 0;
    cursor: pointer;
    border-top: 1px solid rgba(34, 36, 38, 0.15);

    &:first-child {
      border: none;
    }
  }
}
